USE [master]
GO
/****** Object:  Database [db223290]    Script Date: 03.09.2025 11:46:26 ******/
CREATE DATABASE [db223290]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db223290', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db223290.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db223290_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db223290_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db223290].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db223290]
GO
/****** Object:  Table [dbo].[AUTOR_KSIAZKI]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR_KSIAZKI](
	[id_autora] [int] NOT NULL,
	[id_ksiazki] [int] NOT NULL,
 CONSTRAINT [PK_AUTOR_KSIAZKI] PRIMARY KEY CLUSTERED 
(
	[id_autora] ASC,
	[id_ksiazki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTORZY]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTORZY](
	[id_autora] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[informacja_o_autorze] [nvarchar](max) NULL,
 CONSTRAINT [PK_AUTORZY] PRIMARY KEY CLUSTERED 
(
	[id_autora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CZYTELNICY]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZYTELNICY](
	[Id_Czytelnika] [int] NOT NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[Miasto] [nvarchar](50) NULL,
	[adres] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Pesel] [nvarchar](50) NULL,
 CONSTRAINT [PK_CZYTELNICY] PRIMARY KEY CLUSTERED 
(
	[Id_Czytelnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dyżury]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dyżury](
	[id_dyzuru] [int] IDENTITY(1,1) NOT NULL,
	[data i godzina rozpoczęcia] [datetime] NOT NULL,
	[data i godzina zakończenia] [datetime] NOT NULL,
	[id_lekarza] [int] NOT NULL,
 CONSTRAINT [Dyżury_PK] PRIMARY KEY CLUSTERED 
(
	[id_dyzuru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dzielnice]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dzielnice](
	[nazwa dzielnicy] [nvarchar](30) NOT NULL,
	[id_dzielnicy] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [Dzielnice_PK] PRIMARY KEY CLUSTERED 
(
	[id_dzielnicy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EGZEMPLARZE]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EGZEMPLARZE](
	[id_egzemplarza] [int] NOT NULL,
	[id_ksiazki] [int] NOT NULL,
 CONSTRAINT [PK_EGZEMPLARZE] PRIMARY KEY CLUSTERED 
(
	[id_egzemplarza] ASC,
	[id_ksiazki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gabinety lekarskie]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gabinety lekarskie](
	[typ gabinetu] [nvarchar](100) NOT NULL,
	[nr gabinetu] [int] NOT NULL,
	[id_gabinetu] [int] IDENTITY(1,1) NOT NULL,
	[id_przychodni] [int] NOT NULL,
 CONSTRAINT [Gabinety lekarskie_PK] PRIMARY KEY CLUSTERED 
(
	[id_gabinetu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORIE]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORIE](
	[Id_kategorii] [int] NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KATEGORIE] PRIMARY KEY CLUSTERED 
(
	[Id_kategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KSIAZKI]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KSIAZKI](
	[id_ksiazki] [int] NOT NULL,
	[Tytul] [nvarchar](50) NULL,
	[rok_wydania] [int] NULL,
	[Opis] [nvarchar](max) NULL,
	[id_wydawnictwa] [int] NULL,
	[tylko_czytelnia] [bit] NOT NULL,
	[Id_kategorii] [int] NULL,
	[Cena] [money] NULL,
	[Media] [smallint] NULL,
 CONSTRAINT [PK_KSIAZKI] PRIMARY KEY CLUSTERED 
(
	[id_ksiazki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lekarze]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lekarze](
	[nr PWZ] [int] NOT NULL,
	[imie] [nvarchar](50) NOT NULL,
	[nazwisko] [nvarchar](100) NOT NULL,
	[specjalizacja] [nvarchar](200) NOT NULL,
	[adres e-mail] [nvarchar](150) NOT NULL,
	[numer telefonu] [nvarchar](15) NOT NULL,
	[id_lekarza] [int] IDENTITY(1,1) NOT NULL,
	[id_gabinetu] [int] NOT NULL,
	[id_zastepcy] [int] NULL,
 CONSTRAINT [Lekarze_PK] PRIMARY KEY CLUSTERED 
(
	[id_lekarza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lekarze w przychodniach]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lekarze w przychodniach](
	[id_lekarza] [int] NOT NULL,
	[id_przychodni] [int] NOT NULL,
 CONSTRAINT [Lekarze w przychodniach_PK] PRIMARY KEY CLUSTERED 
(
	[id_lekarza] ASC,
	[id_przychodni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacjenci]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacjenci](
	[id_pacjenta] [int] IDENTITY(1,1) NOT NULL,
	[imie] [nvarchar](50) NOT NULL,
	[nazwisko] [nvarchar](100) NOT NULL,
	[adres zamieszkania] [nvarchar](200) NOT NULL,
	[data urodzenia] [nchar](10) NULL,
	[PESEL] [nvarchar](11) NOT NULL,
	[numer telefonu] [nvarchar](15) NOT NULL,
	[id_przychodni] [int] NOT NULL,
 CONSTRAINT [Pacjenci_PK] PRIMARY KEY CLUSTERED 
(
	[id_pacjenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Przychodnie]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Przychodnie](
	[id_przychodni] [int] IDENTITY(1,1) NOT NULL,
	[adres] [nvarchar](100) NOT NULL,
	[nazwa przychodni] [nvarchar](100) NOT NULL,
	[numer telefonu] [nvarchar](15) NOT NULL,
	[id_dzielnicy] [int] NOT NULL,
 CONSTRAINT [Przychodnie_PK] PRIMARY KEY CLUSTERED 
(
	[id_przychodni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weterynarze]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weterynarze](
	[id_weterynarza] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[nazwisko] [varchar](10) NOT NULL,
	[specjalizacja] [varchar](10) NOT NULL,
	[data_zatrudnienia] [date] NULL,
	[PESEL] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_weterynarza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wizyty]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wizyty](
	[id_wizyty] [int] IDENTITY(1,1) NOT NULL,
	[data i godzina wizyty] [datetime] NOT NULL,
	[typ wizyty] [nvarchar](200) NOT NULL,
	[status wizyty] [nvarchar](100) NOT NULL,
	[id_lekarza] [int] NOT NULL,
	[id_pacjenta] [int] NOT NULL,
 CONSTRAINT [Wizyty_PK] PRIMARY KEY CLUSTERED 
(
	[id_wizyty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wlasciciele]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wlasciciele](
	[id_wlasciciela] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[nazwisko] [varchar](10) NOT NULL,
	[adres] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_wlasciciela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WYDAWNICTWA]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WYDAWNICTWA](
	[id_wydawnictwa] [int] NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
	[Adres] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Kod] [nvarchar](50) NULL,
	[Miasto] [nvarchar](50) NULL,
 CONSTRAINT [PK_WYDAWNICTWA] PRIMARY KEY CLUSTERED 
(
	[id_wydawnictwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WYPOZYCZENIA]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WYPOZYCZENIA](
	[id_egzemplarza] [int] NOT NULL,
	[Id_Czytelnika] [int] NOT NULL,
	[Data_wypozyczenia] [datetime] NOT NULL,
	[Data_zwrotu] [datetime] NULL,
 CONSTRAINT [PK_WYPOZYCZENIA] PRIMARY KEY CLUSTERED 
(
	[id_egzemplarza] ASC,
	[Id_Czytelnika] ASC,
	[Data_wypozyczenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zwierzeta]    Script Date: 03.09.2025 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zwierzeta](
	[id_zwierzecia] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[data_urodzenia] [date] NOT NULL,
	[gatunek] [varchar](10) NOT NULL,
	[plec] [varchar](10) NULL,
	[oplata_roczna] [numeric](6, 2) NOT NULL,
	[id_wlasciciela] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zwierzecia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTOR_KSIAZKI]  WITH CHECK ADD  CONSTRAINT [FK_AUTOR_KSIAZKI_AUTORZY] FOREIGN KEY([id_autora])
REFERENCES [dbo].[AUTORZY] ([id_autora])
GO
ALTER TABLE [dbo].[AUTOR_KSIAZKI] CHECK CONSTRAINT [FK_AUTOR_KSIAZKI_AUTORZY]
GO
ALTER TABLE [dbo].[AUTOR_KSIAZKI]  WITH CHECK ADD  CONSTRAINT [FK_AUTOR_KSIAZKI_KSIAZKI] FOREIGN KEY([id_ksiazki])
REFERENCES [dbo].[KSIAZKI] ([id_ksiazki])
GO
ALTER TABLE [dbo].[AUTOR_KSIAZKI] CHECK CONSTRAINT [FK_AUTOR_KSIAZKI_KSIAZKI]
GO
ALTER TABLE [dbo].[Dyżury]  WITH CHECK ADD  CONSTRAINT [Lekarze_Dyżury_FK1] FOREIGN KEY([id_lekarza])
REFERENCES [dbo].[Lekarze] ([id_lekarza])
GO
ALTER TABLE [dbo].[Dyżury] CHECK CONSTRAINT [Lekarze_Dyżury_FK1]
GO
ALTER TABLE [dbo].[EGZEMPLARZE]  WITH CHECK ADD  CONSTRAINT [FK_EGZEMPLARZE_EGZEMPLARZE] FOREIGN KEY([id_egzemplarza], [id_ksiazki])
REFERENCES [dbo].[EGZEMPLARZE] ([id_egzemplarza], [id_ksiazki])
GO
ALTER TABLE [dbo].[EGZEMPLARZE] CHECK CONSTRAINT [FK_EGZEMPLARZE_EGZEMPLARZE]
GO
ALTER TABLE [dbo].[Gabinety lekarskie]  WITH CHECK ADD  CONSTRAINT [Przychodnie_Gabinety lekarskie_FK1] FOREIGN KEY([id_przychodni])
REFERENCES [dbo].[Przychodnie] ([id_przychodni])
GO
ALTER TABLE [dbo].[Gabinety lekarskie] CHECK CONSTRAINT [Przychodnie_Gabinety lekarskie_FK1]
GO
ALTER TABLE [dbo].[KSIAZKI]  WITH CHECK ADD  CONSTRAINT [FK_KSIAZKI_WYDAWNICTWA] FOREIGN KEY([id_wydawnictwa])
REFERENCES [dbo].[WYDAWNICTWA] ([id_wydawnictwa])
GO
ALTER TABLE [dbo].[KSIAZKI] CHECK CONSTRAINT [FK_KSIAZKI_WYDAWNICTWA]
GO
ALTER TABLE [dbo].[Lekarze]  WITH CHECK ADD  CONSTRAINT [Gabinety lekarskie_Lekarze_FK1] FOREIGN KEY([id_gabinetu])
REFERENCES [dbo].[Gabinety lekarskie] ([id_gabinetu])
GO
ALTER TABLE [dbo].[Lekarze] CHECK CONSTRAINT [Gabinety lekarskie_Lekarze_FK1]
GO
ALTER TABLE [dbo].[Lekarze]  WITH CHECK ADD  CONSTRAINT [Lekarze_Lekarze_FK1] FOREIGN KEY([id_zastepcy])
REFERENCES [dbo].[Lekarze] ([id_lekarza])
GO
ALTER TABLE [dbo].[Lekarze] CHECK CONSTRAINT [Lekarze_Lekarze_FK1]
GO
ALTER TABLE [dbo].[Lekarze w przychodniach]  WITH CHECK ADD  CONSTRAINT [Lekarze_Lekarze w przychodniach_FK1] FOREIGN KEY([id_lekarza])
REFERENCES [dbo].[Lekarze] ([id_lekarza])
GO
ALTER TABLE [dbo].[Lekarze w przychodniach] CHECK CONSTRAINT [Lekarze_Lekarze w przychodniach_FK1]
GO
ALTER TABLE [dbo].[Lekarze w przychodniach]  WITH CHECK ADD  CONSTRAINT [Przychodnie_Lekarze w przychodniach_FK1] FOREIGN KEY([id_przychodni])
REFERENCES [dbo].[Przychodnie] ([id_przychodni])
GO
ALTER TABLE [dbo].[Lekarze w przychodniach] CHECK CONSTRAINT [Przychodnie_Lekarze w przychodniach_FK1]
GO
ALTER TABLE [dbo].[Pacjenci]  WITH CHECK ADD  CONSTRAINT [Przychodnie_Pacjenci_FK1] FOREIGN KEY([id_przychodni])
REFERENCES [dbo].[Przychodnie] ([id_przychodni])
GO
ALTER TABLE [dbo].[Pacjenci] CHECK CONSTRAINT [Przychodnie_Pacjenci_FK1]
GO
ALTER TABLE [dbo].[Przychodnie]  WITH CHECK ADD  CONSTRAINT [Dzielnice_Przychodnie_FK1] FOREIGN KEY([id_dzielnicy])
REFERENCES [dbo].[Dzielnice] ([id_dzielnicy])
GO
ALTER TABLE [dbo].[Przychodnie] CHECK CONSTRAINT [Dzielnice_Przychodnie_FK1]
GO
ALTER TABLE [dbo].[Wizyty]  WITH CHECK ADD  CONSTRAINT [Lekarze_Wizyty_FK1] FOREIGN KEY([id_lekarza])
REFERENCES [dbo].[Lekarze] ([id_lekarza])
GO
ALTER TABLE [dbo].[Wizyty] CHECK CONSTRAINT [Lekarze_Wizyty_FK1]
GO
ALTER TABLE [dbo].[Wizyty]  WITH CHECK ADD  CONSTRAINT [Pacjenci_Wizyty_FK1] FOREIGN KEY([id_pacjenta])
REFERENCES [dbo].[Pacjenci] ([id_pacjenta])
GO
ALTER TABLE [dbo].[Wizyty] CHECK CONSTRAINT [Pacjenci_Wizyty_FK1]
GO
ALTER TABLE [dbo].[Zwierzeta]  WITH CHECK ADD FOREIGN KEY([id_wlasciciela])
REFERENCES [dbo].[Wlasciciele] ([id_wlasciciela])
GO
USE [master]
GO
